@font-face {
  font-family: "raleway";
  src: url("../../assets/fonts/Raleway/Raleway.ttf");
}

body {
  overflow-x: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add a black background color to the top navigation */

.container-dashboard {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.container-dashboard .split {
  padding: 12px;
  min-height: 250px;
}

.container-dashboard .card {
  height: 100%;
  padding: 10px 12px;
  border: 0;
  border-top: 5px solid rgb(24, 134, 238);
  background: rgb(246, 247, 252);
  background: linear-gradient(137deg, #ffffff 40%, rgb(230, 234, 238) 100%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.container-dashboard .card:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.container-dashboard a {
  text-decoration: none;
  color: grey;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.caption-title {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.caption {
  font-size: 18px;
}

.list-content {
  margin-top: -15px;
  margin-bottom: 10px;
  color: #222;
}

.list-content p {
  font-size: 24px;
}

.small-caption {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #777;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card p {
  /* display: inline; */
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.right h1 {
  margin-bottom: -10px;
}

.bottom {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .container-dashboard .split {
    min-height: 220px;
  }
  .container-dashboard .card {
    padding: 10px 30px 50px;
  }

  .card-title {
    font-size: 20px;
  }

  .content {
    font-size: 50px;
  }

  .right {
    margin-top: -30px;
  }
}
