body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e4e4e4;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "montserrat";
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Add a black background color to the top navigation */

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-top: -50px;
	margin-bottom: 20px;
	background-color: #fafafa;
	align-self: center;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	max-width: 70px;
}

.container-dashboard {
	margin: 0;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.container-dashboard .split {
	min-height: 200px;
	padding: 12px;
}

.container-dashboard .card {
	height: 100%;
	padding: 10px 12px;
	border: 0;
	border-top: 5px solid rgb(24, 134, 238);
	background: rgb(246, 247, 252);
	background: linear-gradient(137deg, #ffffff 40%, rgb(230, 234, 238) 100%);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.header {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.card-title {
	font-size: 18px;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.container-dashboard .card {
		padding: 30px;
	}

	.card-title {
		font-size: 40px;
	}

	.content {
		font-size: 60px;
	}
}

.caption-title {
	margin-top: -15px;
	margin-bottom: 20px;
	font-size: 14px;
}

.list-content {
	margin-top: -15px;
	margin-bottom: 10px;
}

.list-content p {
	font-size: 24px;
}

.small-caption {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
	color: #777;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card p {
	/* display: inline; */
	margin: 0;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.bottom {
	margin-top: 20px;
}
